## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb
*.cache
*.nupkg
.vs/
TestResults/

## Node / React
node_modules/
dist/
.vite/
*.log

## Env files
.env
.env.*

## Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
